#!/bin/sh

export PATH="$PATH:$HOME/AUR/ideaIU-2021.1.2/idea-IU-211.7442.40/bin"

[ -f ~/.screenlayout/stconfig.sh ] && srandrd ~/.screenlayout/stconfig.sh && ~/.screenlayout/stconfig.sh &

xrandr --output eDP1 --primary &

lxpolkit &

~/.starttray.sh &

export TERMINAL=alacritty
